<!-- about_us.html -->
{% extends 'base.html' %} {% block title %}About Us - Dealership Review{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>About Us</h2>
        <p>
            Welcome to our dealership review website. We aim to provide valuable information and reviews about various
            dealerships in our area.
        </p>
        <p>Feel free to explore our website and leave your own reviews to help others make informed decisions.</p>
    </div>
</div>
{% endblock %}
